{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  <header class="cover bg-top" style="background-image: url('{{ $featured_image }}');">
    <div class="{{ .Site.Params.cover_dimming_class | default "bg-black-60" }}">
      {{ partial "site-navigation.html" .}}
      <div class="pv5 flex site-header container">
        <div>
          <img src="/images/kubuntu-wide.svg" class="site-header-title">
          {{ with .Params.description }}
            <h2 class="fw1 f5 f3-l white-80 measure-wide-l mt3">
              {{ . }}
            </h2>
          {{ end }}
          <div class="pv4">
            <a class="button primary mr1" href="/download/">Download</a>
            <a class="button secondary" href="/discover/">Learn more</a>
          </div>
        </div>
        <img class="banner-inline-image" src="{{ $featured_image }}">
      </div>
    </div>
  </header>
{{ else }}
  <header>
    <div class="{{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ end }}
