<div class="relative w-100 mb4 card nested-copy-line-height">
  <div class="card-inner mb3 pa4 overflow-hidden">
    {{ with .CurrentSection.Title }}
    <span class="section-label f6 db">{{ . }}</span>
    {{ end }}

    <h1 class="card-title f3">
      <a href="{{ .RelPermalink }}" class="card-link dim"> {{ .Title }} </a>
    </h1>

    <div class="content-body nested-links f5 lh-copy nested-copy-line-height">
      {{ .Summary }}
    </div>

    <a href="{{ .RelPermalink }}" class="card-button br2 dib f7 mt2 ph2 pv1">
      {{ $.Param "read_more_copy" | default (i18n "readMore") }}
    </a>
  </div>
</div>
